table{
    text-align: right;
    border: 1px solid salmon;
    width: 50;
} 

th{
    border: 1px solid black ;
    background-color: aqua;
    width: 40%;
    text-align: center;
    text-decoration: underline;
}

td{
    border: 1px solid black;
    width: 40%;
}
